iframe
{
	width: 100%;
	margin: 0px;
	margin-top: 0px;
	border-width: 0px;
}

body
{
	background-color: #fafafa;
}

#show-details 
{
	display: inline-block;
}

#ep-details
{
	display: inline-block;
}

.search
{
	
}

.card-image-override
{
	width: 100%;
	min-height: 200px;
	max-height: 200px;
	overflow: hidden;
}