<body>
    <%= @temp %>
    <div class="container">
        <h4>Date</h4>
        <div class="row" style="margin-top: 10px;">
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-content black-text">
                        <span class="card-title black-text">Show</span>
                        <p>Season S Episode E: "Title"</p>
                    </div>
                    <div class="card-action">
                        <a href="">Show Details</a>
                        <a href="">Episode Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>