<body>
    <div class="container">
        <h4>"The Night Lila Died"</h4>
        <div class="row" style="margin-top: 10px;">
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-content black-text">
                        <span class="card-title black-text">Details</span>
                        <p><b>Show Name:</b> How to Get Away with Murder <a href="showdetails.html"><i class="mdi-action-info-outline"></i></a></p>
                        <p><b>Season Number:</b> 1</p>
                        <p><b>Episode Number:</b> 14</p>
                        <p><b>Runtime:</b> 60 minutes</p>
                        <p><b>Network:</b> ABC, US</p>
                        <p><b>Air Date:</b> February 26, 2015</p>
                    </div>
                    <div class="card-action">
                        <a href="showdetails.html">Show Details</a>
                        <a href="http://www.tvrage.com/how-to-get-away-with-murder/episodes/1065746178" target="_blank">View on TVRage</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>