<body onresize="resizeFrameOnResize()">
    <header>
    	<nav class="red">
            <div class="nav-wrapper container">
                <a href="#" class="brand-logo">seriesched</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li class="nav-search"><a href="search.html" target="innerframe" onclick="setActive($(this).parent('li'))">Search</a></li>
                    <li class="nav-schedule"><a href="schedule.html" target="innerframe" onclick="setActive($(this).parent('li'))">Schedule</a></li>
                    <li class="nav-collection"><a href="collection.html" target="innerframe" onclick="setActive($(this).parent('li'))">Collection</a></li>
                    <li><a href="#" class="dropdown-button" data-activates="user-dropdown">lancealcabasa</a></li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li onclick="setActive(this)" class="nav-search"><a href="#">Search</a></li>
                    <li onclick="setActive(this)" class="nav-schedule"><a href="schedule.html" target="innerframe">Schedule</a></li>
                    <li onclick="setActive(this)" class="nav-collection"><a href="collection.html" target="innerframe">Collection</a></li>
                    <li><a href="#" class="dropdown-button" data-activates="user-dropdown">lancealcabasa</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <iframe id="innerframe" name="innerframe" src="schedule.html" onload="this.height= ($(window).height() - $('header').height() - 10);">
        </iframe>
    </main>
</body>

<ul id="user-dropdown" class="dropdown-content">
    <li><a href="profile.html" target="innerframe" onclick="clearActive()">Profile</a></li>
    <li><a href="index.html">Logout</a></li>
</ul>