<body>
    <div class="container">
        <h4>How to Get Away with Murder</h4>
        <div class="row" style="margin-top: 10px;">
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-image">
                        <img src="img/htgawm.jpg">
                    </div>
                    <div class="card-action">
                        <a href="#">Remove from Collection</a>
                        <a href="http://tvrage.com/how-to-get-away-with-murder" target="_blank">View on TVRage</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-content black-text">
                        <span class="card-title black-text">Details</span>
                        <p><b>Started:</b> September 25, 2014</p>
                        <p><b>Ended:</b> ongoing</p>
                        <p><b>Origin Country:</b> USA</p>
                        <p><b>Status:</b> New Series</p>
                        <p><b>Classification:</b> Scripted</p>
                        <p><b>Genres:</b> Crime, Mystery, Thriller</p>
                        <p><b>Runtime:</b> 60 minutes</p>
                        <p><b>Network:</b> ABC, US</p>
                        <p><b>Air Time:</b> 22:00</p>
                        <p><b>Timezone:</b> GMT-5 +DST</p>
                        <p><b>Air Day:</b> Thursday</p>
                    </div>
                </div>
            </div>
        </div>
        <h4>Episode List</h4>
        <div class="row" style="margin-top: 10px;">
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-content black-text">
                        <span class="card-title black-text">Season 1</span>
                        <ol>
                            <li>"Pilot" <a href="episodedetails.html"><i class="mdi-action-info-outline"></i></a></li>
                            <li>"It's All Her Fault" <a href="episodedetails.html"><i class="mdi-action-info-outline"></i></a></li>
                            <li>"Smile, or Go to Jail" <a href="episodedetails.html"><i class="mdi-action-info-outline"></i></a></li>
                            <li>"Let's Get to Scooping" <a href="episodedetails.html"><i class="mdi-action-info-outline"></i></a></li>
                            <li>"We're Not Friends" <a href="episodedetails.html"><i class="mdi-action-info-outline"></i></a></li>
                            <li>"Freakin' Whack-a-Mole" <a href="episodedetails.html"><i class="mdi-action-info-outline"></i></a></li>
                            <li>"He Deserved to Die" <a href="episodedetails.html"><i class="mdi-action-info-outline"></i></a></li>
                            <li>"He Has a Wife" <a href="episodedetails.html"><i class="mdi-action-info-outline"></i></a></li>
                            <li>"Kill Me, Kill Me, Kill Me" <a href="episodedetails.html"><i class="mdi-action-info-outline"></i></a></li>
                            <li>"Hello Raskolnikov" <a href="episodedetails.html"><i class="mdi-action-info-outline"></i></a></li>
                            <li>"Best Christmas Ever" <a href="episodedetails.html"><i class="mdi-action-info-outline"></i></a></li>
                            <li>"She's a Murderer" <a href="episodedetails.html"><i class="mdi-action-info-outline"></i></a></li>
                            <li>"Mama's Here Now" <a href="episodedetails.html"><i class="mdi-action-info-outline"></i></a></li>
                            <li>"The Night Lila Died" <a href="episodedetails.html"><i class="mdi-action-info-outline"></i></a></li>
                            <li>"It's All My Fault" <a href="episodedetails.html"><i class="mdi-action-info-outline"></i></a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>